# Experiments / results
experiments/
test.csv
# Pickle files
*.pickle
*.pkl

# Figures
*.png
*.pdf
*.svg


#large files
special_trajectories/*.csv
trajectories/corrected_mars24/
merged.csv
# Python
__pycache__/
*.pyc

# Virtual env
.venv/
venv/